<nav class="navbar navbar-expand-lg navbar-dark sticky-top custom-background">
  <!-- <a class="navbar-brand brand-font" routerLink="/home"><b>ekipi</b></a> -->
  <a class="navbar-brand brand-font" routerLink="/home"><i class="fa fa-share-alt-square fa-2x" aria-hidden="true"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link btn btn-info btn-sm" routerLink="/codeshare">Live Share <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
        <a class="nav-link" routerLink="/contactus">Support</a>
    </span>
  </div>
</nav>
