<!-- <div class="background-image" style="background-image: linear-gradient(to right , #48b1bf,#06beb6)"> -->
<div class="home-background">
  <!-- Mask & flexbox options-->
  <!-- Content -->
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <div class="col">
        <h2 class="text-light text-center top-buffer">Team collaboration, Interview evaluation, Teaching in real-time.</h2>
      </div>
    </div>
    <div class="row top-buffer">
      <button type="button" class="btn btn-lg btn-danger mx-auto d-block" routerLink="/codeshare">Get Started</button>
    </div>
    <!--Grid row-->
    <div class="row top-buffer">
      <img src="./../../../assets/images/demo.gif" class="img-fluid mx-auto d-block" alt="Collab Conf Img">
    </div>

    <div class="row">
      <div class="col ">
        <p class="text-light font-weight-light text-center top-buffer font-italic"><small style="color:aquamarine;">Developed by <a href="https://www.linkedin.com/in/chiranjeevitapal"
          style="color:aquamarine;" target="_blank"><u>Chiranjeevi Tapal</u></a> and <a style="color:aquamarine;" href="https://www.linkedin.com/in/rohit-singh-a7559a26"
              target="_blank"><u>Rohit Singh</u></a></small></p>
      </div>
    </div>
  </div>
</div>
