<div class="background-image" style="background-image: url('./../../../assets/images/bg.jpg');">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-gradient justify-content-center align-items-center">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5">
          <h2 class="font-weight-bold mt-sm-5" style="color: white">Click Live Share and share the URL to collaborate </h2>
          <hr class="hr-light">
          <span style="color:white">
            <span class="mb-4">3 Simple Steps :</span>
            <ul>
              <li><span class="mb-4"> Click on Live Share</span></li>
              <li><span class="mb-4"> Copy the unique URL to colaborate</span></li>
              <li><span class="mb-4"> Unique URL is alive for 24 hours. Click below to collaborate now.</span></li>
            </ul>
          </span>
          <button type="button" class="btn btn-xs btn-info" routerLink="/codeshare">Get Started</button>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>