/* https://mycolor.space/gradient */
.home-background {
  background-image: linear-gradient(to right top, #051937, #002b4a, #003e5b, #00516a, #0c6578);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.top-buffer {
  margin-top: 30px;
}
