<div class="container">
  <br><br>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="alert alert-success" *ngIf="emailMessage.length > 0" role="alert">
        {{emailMessage}}
      </div>
      <form [formGroup]="contactUsForm" novalidate (ngSubmit)="onSubmit()" class="bootstrap-frm">
        <h3>Contact Us</h3>
        <div class="form-group">
          <span class="label label-success">*Name</span>
          <input type="text" class="form-control" formControlName="name" type="text" />
          <span *ngIf="contactUsForm.controls['name'].invalid && (contactUsForm.controls['name'].dirty || contactUsForm.controls['name'].touched)"
            style="color:firebrick">
            <span *ngIf="contactUsForm.controls['name'].errors.required">
              Name is required
            </span>
          </span>
        </div>

        <div class="form-group">
          <span class="label label-success">*Email</span>
          <input type="email" class="form-control" formControlName="email" type="text" />
          <span *ngIf="contactUsForm.controls['email'].invalid && (contactUsForm.controls['email'].dirty || contactUsForm.controls['email'].touched)"
            style="color:firebrick">
            <span *ngIf="contactUsForm.controls['email'].errors.required">
              Email is required
            </span>
            <span *ngIf="contactUsForm.controls['email'].errors.email">
              Email must be a valid email address
            </span>
          </span>
        </div>

        <div class="form-group">
          <span class="label label-success">*Message </span>
          <input type="textarea" class="form-control" formControlName="content" />
          <span *ngIf="contactUsForm.controls['content'].invalid && (contactUsForm.controls['content'].dirty || contactUsForm.controls['content'].touched)"
            style="color:firebrick">
            <span *ngIf="contactUsForm.controls['content'].errors.required">
              Message is required
            </span>
          </span>
        </div>
        <button type="submit" [disabled]="contactUsForm.pristine || contactUsForm.invalid" class="btn btn-info btn-xs">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
